fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
python-dotenv
pypdf2
docx2txt
langchain-groq
huggingface-hub
InstructorEmbedding
sentence-transformers
pandas
faiss-cpu
jinja2
pdfkit
scikit-learn
